body{
    background-color: #EDEFEE;
    font-family: "Arial";
    font-size:larger;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

@keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 200px;
    animation: drop-in 1000ms;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;

    a {
        color: #EDEFEE;
        text-decoration: none;
    }

    a:hover {
        color:cornflowerblue;
    }
}

nav li{
    display: inline-block;
    margin: 10px;
}

section{
    display: inline-flex;
    flex-wrap: wrap;
}

section:first-child {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-position: bottom 50px;
    color: #EDEFEE;
    border-radius: 10px;
}

section img{
    width: 100%;
    border: 2px solid #EDEFEE;
    border-radius: 10px;
}

section img:hover{
    border: 2px solid cornflowerblue;
}
  

article{
    flex: 1;
    margin: 10px;
}

footer{
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    width: 30px;
    height: 50px;
}

